.video {
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  ._secondary-video-box {
    .adm-floating-bubble-button {
      width: 120px;
      height: 213px;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: transparent;
    }
    .ai-video {
      video {
        opacity: 1;
      }
      ._none svg {
        width: 40px;
        height: 40px;
      }
    }
  }
  ._switch-view-btn {
    position: absolute;
    right: 6px;
    bottom: 6px;
    background-color: rgba(20, 20, 20, 0.6);
    padding: 2px 3px;
    border: none;
    z-index: 2;
    span {
      display: inline-block;
      height: 22px;
      vertical-align: bottom;
    }
  }
}

@media screen and (min-width: 769px) {
  .actor.video {
    ._secondary-video-box {
      margin-left: 16px;
      .adm-floating-bubble-boundary-outer {
        width: 0;
        height: 0;
      }
      .adm-floating-bubble-button {
        position: static;
        height: auto;
        width: auto;
        border-radius: 8px;
        cursor: initial;
      }
      .ai-video {
        ._background {
          display: none;
        }
        ._none svg {
          width: 75px;
          height: 75px;
        }
      }
    }
    ._switch-view-btn {
      display: none;
    }
    &.has-camera {
      ._secondary-video-box .ai-video ._background {
        display: block;
      }
    }
  }
}
