.header.pstn-header {
  ._back-btn {
    display: block;
    border: none;
    position: absolute;
    left: 0;
    top: 2px;
  }
  ._feedback {
    left: auto;
    right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .header.pstn-header {
    ._back-btn {
      position: relative;
    }
  }
}
