.call-footer {
  position: relative;
  padding-top: 48px;
}

.has-video .call-footer {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0.62) 91%);
}

.call-tip {
  margin-bottom: -10px;
  text-align: center;
  ._time {
    margin-top: 30px;
    color: #000;
    color: var(--biz-ant-color-text-base, #000);
    opacity: 0.6;
  }
}

.has-video .call-tip {
  color: #fff;
  ._time {
    color: #fff;
  }
}

.call-actions {
  flex: 0 0 auto;
  ul {
    justify-content: center;
    display: flex;
    list-style: none;
    padding: 20px 0;
    margin: 0;
  }
}

.call-btn {
  position: relative;
  margin: 0 45px;
  text-align: center;
  .ant-btn._dropdown {
    right: -28px;
    top: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 0;
  }

  ._mic-btn {
    position: relative;
  }

  ._push-animation {
    position: absolute;
    bottom: 24px;
    left: 25px;
    width: 8px;
    height: 8px;
    background-color: #4dcfe1;
    border-radius: 4px;
    animation: push-to-talk 1s ease-in-out infinite;
  }
}

@keyframes push-to-talk {
  0% {
    height: 8px;
  }
  50% {
    height: 16px;
  }
  100% {
    height: 8px;
  }
}

.has-video .call-btn {
  opacity: 0.8;
}

.call-btn ._label {
  position: relative;
  width: 60px;
  margin: 16px 0 8px;
  height: 22px;
  word-break: keep-all;
}

.call-btn ._text {
  position: absolute;
  left: 50%;
  display: inline-block;
  transform: translate3d(-50%, 0, 0);
  color: #000;
  color: var(--biz-ant-color-text-base, #000);
  opacity: 0.6;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
}

.call-btn .ant-btn {
  width: 60px;
  height: 60px;
  font-size: 24px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-color: var(--biz-ant-color-border-secondary, rgba(0, 0, 0, 0.2));
  border-radius: 50%;
}

.has-video .call-btn ._text {
  color: #fff;
}

._dropdown-overlay .ant-dropdown-menu-item {
  max-width: 250px;
}
