.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  min-width: 320px;

  * {
    -webkit-user-select: none; /* For Safari and Chrome */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */

    -webkit-touch-callout: none; /* Disable callout, browser's default context menu */
    user-select: none; /* For modern browsers */
  }

  input,
  input:before,
  input:after,
  textarea,
  textarea:before,
  textarea:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
  }
}

.chat-statement {
  padding: 0 20px 9px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: var(--ai-color-text-disabled);
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (min-width: 769px) {
  .chat-wrapper {
    box-sizing: border-box;
    padding: 24px;
  }

  .chat-statement {
    font-size: 14px;
    line-height: 22px;
  }
}
