.welcome-wrapper {
  height: 100%;
  width: 1248px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-img {
  display: none;
}

// 导航标签样式
.welcome-tabs {
  padding: 20px;
  display: flex;
  justify-content: center;

  .adm-tabs {
    width: fit-content;
    .adm-tabs-header {
      border-bottom: none;
    }

    .adm-tabs-tab-list {
      display: flex;
      padding: 16px 0;
      gap: 46px;
    }
    .adm-tabs-tab-line {
      background-color: var(--adm-color-text);
    }

    .adm-tabs-tab {
      font-weight: normal;
      padding: 0;
      position: relative;
      line-height: 1;

      &.adm-tabs-tab-active {
        color: var(--adm-color-text);
        font-weight: 500;
      }
    }
  }
}

.welcome-description {
  max-width: 366px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  min-height: 44px;
}

.welcome-footer {
  display: flex;
  margin: 40px 0;
  padding: 0 24px;

  ._btn {
    border-radius: 2px;
    min-width: 340px;
    background-color: var(--ai-color-fill);
    color: var(--ai-color-text-inverse);
    height: 44px;
  }
}

.welcome-header {
  display: none;
}

@media screen and (max-width: 768px) {
  .welcome-wrapper {
    width: 100%;
    overflow-y: auto;
  }

  .welcome-header {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 0 24px;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    ._theme-btn {
      padding: 8px;
      text-align: center;
      width: 36px;
      height: 36px;
      border-width: 1px;
      border-radius: 50%;
      --border-radius: 50%;
      padding: 5px;
      border-color: var(--ai-color-boder-tertiary);
      background-color: var(--ai-color-bg-elevated);

      & > span {
        line-height: 24px;
        height: 24px;
        svg {
          vertical-align: -3px;
          transform: scale(1.2);
        }
      }
    }
  }

  .welcome-header-btns {
    padding: 0 12px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid var(--ai-color-boder-tertiary);
    background-color: var(--ai-color-bg-elevated);

    .adm-button {
      width: 32px;
      height: 32px;
    }
  }

  .welcome-img {
    display: block;
    margin-top: 8px;
    padding-left: 24px;
    box-sizing: border-box;
    width: 100%;
  }

  .welcome-tabs {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 0;
    .adm-tabs-header-mask {
      display: none;
    }
    .adm-tabs .adm-tabs-tab-list {
      padding-left: 20px;
      padding-right: 20px;
      gap: 0;
    }
    .adm-tabs-tab-line {
      margin-left: -20px;
    }
  }
  .welcome-footer {
    width: 100%;
    box-sizing: border-box;

    ._btn {
      min-width: auto;
    }
  }

  .welcome-description {
    display: flex;
    width: 100%;
    margin-top: 24px;
    max-width: none;
    padding: 0 24px;
    box-sizing: border-box;
    margin-bottom: 24px;
    justify-content: flex-end;
    ._inner {
      width: 204px;
      text-align: left;
      min-height: 54px;
    }
  }

  .welcome-footer {
    margin-bottom: 16px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
  .welcome-footer {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1536px) {
  .welcome-wrapper {
    width: 1320px;
  }
  .welcome-footer {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1537px) {
  .welcome-wrapper {
    width: 1500px;
  }
  .welcome-footer {
    margin-bottom: 100px;
  }
}
