<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color_primary_bg</key>
	<string>1B58F4</string>
	<key>color_primary_bg_hover</key>
	<string>1752E4</string>
	<key>color_primary_border</key>
	<string>1B58F4</string>
	<key>color_primary_border_hover</key>
	<string>1752E4</string>
	<key>color_primary_hover</key>
	<string>1752E4</string>
	<key>color_primary</key>
	<string>1B58F4</string>
	<key>color_primary_active</key>
	<string>1549CC</string>
	<key>color_primary_text_hover</key>
	<string>1752E4</string>
	<key>color_primary_text</key>
	<string>1B58F4</string>
	<key>color_primary_text_active</key>
	<string>1549CC</string>
	<key>color_text</key>
	<string>111111</string>
	<key>color_text_secondary</key>
	<string>555555</string>
	<key>color_text_tertiary</key>
	<string>808080</string>
	<key>color_text_disabled</key>
	<string>AAAAAA</string>
	<key>color_text_Inverse</key>
	<string>FFFFFF</string>
	<key>color_text_identical</key>
	<string>FFFFFF</string>
	<key>color_text_selection</key>
	<string>111111</string>
	<key>color_link</key>
	<string>1B58F4</string>
	<key>color_link_hover</key>
	<string>1752E4</string>
	<key>color_link_selection</key>
	<string></string>
	<key>color_link_active</key>
	<string>1549CC</string>
	<key>color_icon</key>
	<string>111111</string>
	<key>color_icon_secondary</key>
	<string>555555</string>
	<key>color_icon_tertiary</key>
	<string>808080</string>
	<key>color_icon_disabled</key>
	<string>AAAAAA</string>
	<key>color_icon_Inverse</key>
	<string>FFFFFF</string>
	<key>color_icon_identical</key>
	<string>FFFFFF</string>
	<key>color_icon_hover</key>
	<string></string>
	<key>color_icon_selection</key>
	<string>111111</string>
	<key>color_border</key>
	<string>D8D8D8</string>
	<key>color_border_secondary</key>
	<string>E5E5E5</string>
	<key>color_border_tertiary</key>
	<string>EEEEEE</string>
	<key>color_border_identical</key>
	<string>333333B2</string>
	<key>color_border_selection</key>
	<string>000000</string>
	<key>color_bg</key>
	<string>F7F8F9</string>
	<key>color_bg_elevated</key>
	<string>FFFFFF</string>
	<key>color_bg_mask</key>
	<string>000000B2</string>
	<key>color_fill</key>
	<string>111111</string>
	<key>color_fill_secondary</key>
	<string>EDEEF0</string>
	<key>color_fill_tertiary</key>
	<string>EDEEF0</string>
	<key>color_fill_quaternary</key>
	<string>D8D8D8</string>
	<key>color_fill_disabled</key>
	<string>E5E5E5</string>
	<key>color_fill_primary</key>
	<string>1B58F4</string>
	<key>color_fill_toast_identical</key>
	<string>202020B2</string>
	<key>color_fill_switch_identical</key>
	<string>FFFFFF</string>
	<key>color_fill_selection</key>
	<string>111111</string>
	<key>color_success</key>
	<string>29A64E</string>
	<key>color_success_bg</key>
	<string>29A64E</string>
	<key>color_success_bg_hover</key>
	<string>219644</string>
	<key>color_success_border</key>
	<string>29A64E</string>
	<key>color_success_border_hover</key>
	<string>219644</string>
	<key>color_success_hover</key>
	<string>219644</string>
	<key>color_success_base</key>
	<string>29A64E</string>
	<key>color_success_active</key>
	<string>0A6E27</string>
	<key>color_success_text_hover</key>
	<string>219644</string>
	<key>color_success_text</key>
	<string>29A64E</string>
	<key>color_success_text_active</key>
	<string>0A6E27</string>
	<key>color_warning</key>
	<string>FFAB00</string>
	<key>color_warning_bg</key>
	<string>FFAB00</string>
	<key>color_warning_bg_hover</key>
	<string>F2A200</string>
	<key>color_warning_border</key>
	<string>FFAB00</string>
	<key>color_warning_border_hover</key>
	<string>F2A200</string>
	<key>color_warning_hover</key>
	<string>F2A200</string>
	<key>color_warning_base</key>
	<string>FFAB00</string>
	<key>color_warning_active</key>
	<string>D68F00</string>
	<key>color_warning_text_hover</key>
	<string>F2A200</string>
	<key>color_warning_text</key>
	<string>FFAB00</string>
	<key>color_warning_text_active</key>
	<string>D68F00</string>
	<key>color_info_bg</key>
	<string>457AFF</string>
	<key>color_info_bg_hover</key>
	<string>1B58F4</string>
	<key>color_info_border</key>
	<string>457AFF</string>
	<key>color_info_border_hover</key>
	<string>1B58F4</string>
	<key>color_info_hover</key>
	<string>1B58F4</string>
	<key>color_info_base</key>
	<string>457AFF</string>
	<key>color_info_active</key>
	<string>1752E4</string>
	<key>color_info_text_hover</key>
	<string>1B58F4</string>
	<key>color_info_text</key>
	<string>457AFF</string>
	<key>color_info_text_active</key>
	<string>1752E4</string>
	<key>color_error</key>
	<string>C82727</string>
	<key>color_error_bg</key>
	<string>C82727</string>
	<key>color_error_bg_hover</key>
	<string>BD2424</string>
	<key>color_error_border</key>
	<string>C82727</string>
	<key>color_error_border_hover</key>
	<string>BD2424</string>
	<key>color_error_hover</key>
	<string>BD2424</string>
	<key>color_error_base</key>
	<string>C82727</string>
	<key>color_error_active</key>
	<string>A31E1E</string>
	<key>color_error_text_hover</key>
	<string>BD2424</string>
	<key>color_error_text</key>
	<string>C82727</string>
	<key>color_error_text_active</key>
	<string>A31E1E</string>
</dict>
</plist>
